* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  color: #333;
}
body, button {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s; 
  font-size: 16px;
  border-radius: 8px;
  border: none;
}
button:hover {
  transform: translateY(-1px);
}
button:active {
  transform: translateY(1px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 15px;
}


.logout-btn {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s; 
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  background-color: #e32636;
  color: white;
  transition: all 0.3s ease;
}
.logout-btn:hover{
  transform: translateY(-1px);
}

.logout-btn:active{
  transform: translateY(1px);
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.column {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

h2 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.error-message {
  color: #ff4444;;
  font-size: 14px;
  margin-top: 5px;
  visibility: hidden;
}
.error-message.visible {
  visibility: visible;
  animation: shake 0.5s ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

.submit-btn {
  flex-shrink: 0;
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  transform: translateY(-1px);
}
.submit-btn:active {
  transform: translateY(1px);
}

.token-list {
  flex-grow: 1;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0px 10px 10px;
}

.token-list h3 {
  position: sticky;
  top: 0;
  background: white;
  padding: 15px 0;
  z-index: 1;
  text-align: center;
}
.token {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;;
  border-radius: 8px;
  margin-bottom: 10px;
}
.token-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 7px;
  width: 100%;
}
.token-name {
  flex-grow: 1;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.token-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  background: white;
  width: 100%;
}

.token-value {
  font-family: monospace;
  word-break: break-all;
  flex-grow: 1;
  padding-right: 10px;
  max-width: 400px;
}

.copy-btn {
  background-color: #2ecc71;
  width: 125px;
  color: white;
  padding: 5px 10px;
  white-space: nowrap;
}
.del-btn {
  background-color: #e32636;
  width: 125px;
  color: white;
  padding: 5px 10px;
}

.positive {
  background-color: #d4edda; /* светло-зеленый фон */
  color: #155724; /* темно-зеленый текст */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.negative {
  background-color: #f8d7da; /* светло-красный фон */
  color: #721c24; /* темно-красный текст */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
